body{
    font-family: latha;
    color:white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
    
        ,url(../images/pizza.jpg)no-repeat center center fixed;
    background-size: cover;
}

#indexx{
    display: none;
}

.box{
    position: relative;
    display: flex;
    justify-content:space-evenly
    }
       

 ul{
    float: right;
    margin-right: -380px;
}
 ul li{
    
    display: inline-block;
    margin: 10px auto;
    text-align: center;
}

ul li a{ 
    text-decoration: none;
    color:darkgray;
    padding: 5px 30px;           
}


ul li:hover{ background-color: grey;}
ul li a:hover{ color:white;}

.logo img{
    float: left;
    width: 150px;
    height: 80px;
    margin-top: 1px;
    margin-left: -380px;
}

.title{
    margin-top: 30px;
    color: #fff;
    font-size: xx-large;
    text-align: center
   
    
}

h2{
    font-family: sans-serif;
}

.items{
    flex: 0 0 calc(30.3% - 14px);
}

.middle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 40px;
    
}


.caption{
     color: orange;
    font-size: 28px;
}

.info{
    margin-top: 10px;
    line-height: 1.8;
}

.caption:hover{
    transition: transform 1.5s ease, color 1.5s ease;
    transform: translateY(-10px);
    color: orangered;
    cursor: pointer;
}

#menu-button{
    display: none;
}
footer{
    
    padding: 10px;
    position: sticky;
    color: grey;
    width: 100%;
    background: rgba(0, 0, 0, 0.651);
    height: 60px;
    margin-top: 100px;
}
@media screen and (max-width: 900px){
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        
    }


    ul{
        display: none;
        
    }
    #indexx{
        display: unset;
    }
    ul.open{
        display: flex;
        position: absolute;
        background: black;
       
        flex-direction: column;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }
    
    #menu-button{
        display: flex;        
    }

    .items{
        margin: 30px 0;
        display: flex;
    }

}



