body{
    height: 100%;
    font-family: latha;
    color:white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
    
    ,url(../images/pizza.jpg) no-repeat center center fixed;;
    background-size: cover;
}

.box{
    position: relative;
    display: flex;
    justify-content:space-evenly
    }

 ul{
    float: right;
    margin-right: -380px;
}
 ul li{
    
    display: inline-block;
    margin: 10px auto; 
    text-align: center;
}

ul li a{ 
    text-decoration: none;
    color:darkgray;
    padding: 5px 30px;           
}

 #indexx{
    display: none;
}


ul li:hover{ 
    background-color: grey;
    }
ul li a:hover{ color:white;}

.logo img{
    float: left;
    width: 150px;
    height: 80px;
    margin-top: 1px;
    margin-left: -380px;
}

.main{
    overflow: auto;
    padding-bottom: 100px;

}

.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name h1{
    font-family: fantasy;
    font-size: 70px;
    color:rgba(255, 68, 0, 0.705);
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link{
    padding: 8px 16px;
    color:orangered;
    text-decoration: none;
    border-radius: 250px;
    font-weight: bold;
    background: black;
    border: 1px solid grey;
    cursor: pointer;
 
   
}

.link:hover{
    background-color: grey;
    color: coral;

}
#menu-button{
    display: none;
}

footer{
    
    padding: 10px;
    position: sticky;
    color: grey;
    width: 100%;
    background: rgba(0, 0, 0, 0.651);
    height: 60px;
    margin-top: 350px;
}

@media (max-width: 900px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        
    }


    ul{
        display: none;
        
    }
    #indexx{
        display: unset;
    }
    ul.open{
        display: flex;
        position: absolute;
        background: black;
       
        flex-direction: column;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }
    
    #menu-button{
        display: flex;
        
        
    }
  .main .name{
    position: relative;
      text-align: center;
      margin-top: 200px;
     
  }
  .main .button{
      position: absolute;
      text-align: center;
  }
  
}