body{
    font-family: latha;
    color:white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
    
        ,url(../images/pizza.jpg)no-repeat center center fixed;
    background-size: cover;
}
#indexx{
    display: none;
}
.box{
    position: relative;
    display: flex;
    justify-content:space-evenly
    
}


 ul{
    float: right;
    margin-right: -380px;
}
 ul li{
    
    display: inline-block;
    margin: 10px auto;
    text-align: center;
}

ul li a{ 
    text-decoration: none;
    color:darkgray;
    padding: 5px 30px;           
}
.menoo{

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

ul li:hover{ background-color: grey;}
ul li a:hover{ color:white;}

.logo img{
    float: left;
    width: 150px;
    height: 80px;
    margin-top: 1px;
    margin-left: -380px;
}
h1{
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;

}
h3{
    font-family: sans-serif;
    font-size:x-large;
    color:coral;
    text-align: center;
}

.list{
    font-style: italic;
    text-align: center;
}

#menu-button{
    display: none;
}

footer{
    
    padding: 10px;
    position: sticky;
    color: grey;
    width: 100%;
    background: rgba(0, 0, 0, 0.651);
    height: 60px;
    margin-top: 780px;
}

@media (max-width: 900px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        
    }


    ul{
        display: none;
        
    }
    #indexx{
        display: unset;
    }
    ul.open{
        display: flex;
        position: absolute;
        background: black;
       
        flex-direction: column;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }
    
    #menu-button{
        display: flex;
        
        
    }
  .main .name{
    position: relative;
      text-align: center;
      margin-top: 200px;
     
  }
  .main .button{
      position: absolute;
      text-align: center;
  }
}